/* body{
    background-color: black;
} */
*{
    box-sizing: border-box;
    text-decoration: none;
}
#nav-bar{
    width: 100%;
    font-size: 1.25rem;
    height: 2rem;
}
#nav-bar ul li a{
    margin: 0px 0px;
    padding: 3px 20px;
}
#logo{
    height: 40px;
    width: 40px;
    position: fixed;
    top: -5px;
}
.welcome h1{
    font-size: 2.5rem;
}
.welcome h3{
    font-size: 1.75rem;
    padding: 10px 0px;
}

.project{
    height: 200vh;
}
.project h2{
    padding: 2.5rem 0px;
    font-size: 2.25rem;
}
.card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    height: 50vh;
    width: 50vh
}
img{
    width: 100%;
    height: 35vh;
}
.cards h3{
    color: orange;
    text-decoration: none;
    margin: 16px 0px;
    font-size: 2.5rem;
}

.contacts{
    flex-wrap: wrap;
    padding: 5vw 0vw;
}
#contact h2{
    font-size: 2.25rem;
}
.contact img{
    height: 100px;
    width: 100px;
    margin: 15px 10px;
}
.text{
    width: 85%;
}
#text{
    font-size: 1.25rem;
}